# ==========================================
# Laboratorio DevOps
# GitLab Configuration
# ==========================================

GITLAB_URL=http://gitlabcontinental.com

GITLAB_USER=<usuario>

GITLAB_TOKEN=<personal_access_token>

GITLAB_DEFAULT_BRANCH=main
