APP_NAME=TecnicoYa
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:3000
PORT=3000
LOG_CHANNEL=single
CACHE_STORE=file
SESSION_DRIVER=file
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=tecnicoya
DB_USER=tecnicoya
DB_PASSWORD=
PYTHON_URL=http://127.0.0.1:8000
